.aside
    .aside_button-active
        a(href="#").aside_button
            +icon('down-arrow')
    .aside_item
        a(href="#").aside_link Active
            +icon('television')
        a(href="#").aside_link Active
            +icon('yoga')
        a(href="#").aside_link Active
            +icon('options')
        a(href="#").aside_link Active
            +icon('minimize')
        a(href="#").aside_link Active
            +icon('sound-bars')
        a(href="#").aside_link Disabled
            +icon('wireless-signal')
        .aside_information
            a(href="#").aside_link.aside_information-link
                +icon('question')
            a(href="#").aside_link.aside_information-link
                +icon('settings')
            a(href="#").aside_information-user
                img(src="http://lorempixel.com/400/200/people" alt="")

