.container
    .video
        iframe( width="100%" height="1010" src="https://www.youtube.com/embed/0OkB6p_FZAw" frameborder="0" allowfullscreen)
        .video_block
            span.video_text Yoga Style
            +icon('cloud')
            h2.video_description Kundalini Yoga
            .video_button.clearfix
                a(href="#").video_link.follow follow
                a(href="#").video_link.preview preview
    .main-content
        .main-content_text.
            Kundalini Yoga, also known as laya yoga, is a school of yoga.
            Based on a 1935 treatise by Sivananda Saraswati, kundalini yoga
            was influenced by the tantra and shakta schools of Hinduism. Kundalini
            yoga derives its name through a focus on awakening kundalini energy through
            regular practice of meditation,  "the yoga of awareness", it aims "to cultivate
            the creative spiritual potential of a human to uphold values, and focus on the
            compassion and consciousness needed to serve and heal others.
        ul.main-content_list
            li.main-content_item.item-description MAIN Principles
            li.main-content_item
                a(href="#").main-content_link Our consciousness is
            li.main-content_item
                a(href="#").main-content_link Aspect of our existence
            li.main-content_item
                a(href="#").main-content_link Opher David Chalmers:
            li.main-content_item
                a(href="#").main-content_link Nothing we know about
            li.main-content_item
                a(href="#").main-content_link But at the same time.
    .news
        h2.news_description KUNDALINI CLASSES
        .news_block
            ul.news_video
                li.news_item
                    a(href="#").news_link New Videos
                li.news_item
                    a(href="#").news_link.active-link POPULAR
            .news_controls
                ul.news_controls-list
                    li.news_item
                        select.news_select
                            option.news_option news_option
                            option.news_option news_option
                            option.news_option news_option
                    li.news_item
                        ul.news_controls-list
                            li.news_controls-item.text LEVEL
                            li.news_controls-item
                                a(href="#").news_controls-link 1
                            li.news_controls-item
                                a(href="#").news_controls-link.active 2
                            li.news_controls-item
                                a(href="#").news_controls-link 3
                            li.news_controls-item
                                a(href="#").news_controls-link 4
                    li.news_item
                        ul.news_controls-list
                            li.news_controls-item.text DURATION
                            li.news_controls-item
                                a(href="#").news_controls-link 10
                            li.news_controls-item
                                a(href="#").news_controls-link.active 20
                            li.news_controls-item
                                a(href="#").news_controls-link 30
                            li.news_controls-item
                                a(href="#").news_controls-link 45
                            li.news_controls-item
                                a(href="#").news_controls-link 60
        .news_container
            .news_container-item
                a(href="#").news_container-image
                    img(src="http://lorempixel.com/400/200/animals" alt="").news_container-img
                    .img-hover
                        ul.img-list
                            li.img-item
                                span.img-number 45
                                span.img-text Minutes
                            li.img-item
                                span.img-number 1 &middot; 2
                                span.img-text Levels
                            li.img-item
                                span.img-number 245
                                span.img-text Students
                            li.img-item
                                span.img-number 200
                                span.img-text Karma
                        button.img-button Watch this class
                    .hurts
                        ul.hurts-list
                            li.hurts-item
                                +icon('hurt')
                            li.hurts-item
                                +icon('hurt')
                            li.hurts-item
                                +icon('hurt')
                            li.hurts-item
                                +icon('hurt')
                            li.hurts-item
                                +icon('shape')
                        span.hurts-span 34 Reviews
                    .news_container-small
                        img(src="http://lorempixel.com/400/200/people" alt="").news_container-img
                span.news_container-span KUNDALINI YOGA
                h2.news_container-description Yoga for a Total Mind-Body
                span.news_container-title Marianna Sterfenson
                p.news_container-text.
                    From the very outset yoga traditions have close
                    the experience of our rational and sensible wor
                    the extraordinary and supernatural.
            .news_container-item
                a(href="#").news_container-image
                    img(src="http://lorempixel.com/400/200/animals" alt="").news_container-img
                    .img-hover
                        ul.img-list
                            li.img-item
                                span.img-number 45
                                span.img-text Minutes
                            li.img-item
                                span.img-number 1 &middot; 2
                                span.img-text Levels
                            li.img-item
                                span.img-number 245
                                span.img-text Students
                            li.img-item
                                span.img-number 200
                                span.img-text Karma
                        button.img-button Watch this class
                    .hurts
                        ul.hurts-list
                            li.hurts-item
                                +icon('hurt')
                            li.hurts-item
                                +icon('hurt')
                            li.hurts-item
                                +icon('hurt')
                            li.hurts-item
                                +icon('hurt')
                            li.hurts-item
                                +icon('shape')
                        span.hurts-span 34 Reviews
                    .news_container-small
                        img(src="http://lorempixel.com/400/200/people" alt="").news_container-img
                span.news_container-span KUNDALINI YOGA
                h2.news_container-description Yoga for a Total Mind-Body
                span.news_container-title Marianna Sterfenson
                p.news_container-text.
                    From the very outset yoga traditions have close
                    the experience of our rational and sensible wor
                    the extraordinary and supernatural.
            .news_container-item
                a(href="#").news_container-image
                    img(src="http://lorempixel.com/400/200/animals" alt="").news_container-img
                    .img-hover
                        ul.img-list
                            li.img-item
                                span.img-number 45
                                span.img-text Minutes
                            li.img-item
                                span.img-number 1 &middot; 2
                                span.img-text Levels
                            li.img-item
                                span.img-number 245
                                span.img-text Students
                            li.img-item
                                span.img-number 200
                                span.img-text Karma
                        button.img-button Watch this class
                    .hurts
                        ul.hurts-list
                            li.hurts-item
                                +icon('hurt')
                            li.hurts-item
                                +icon('hurt')
                            li.hurts-item
                                +icon('hurt')
                            li.hurts-item
                                +icon('hurt')
                            li.hurts-item
                                +icon('shape')
                        span.hurts-span 34 Reviews
                    .news_container-small
                        img(src="http://lorempixel.com/400/200/people" alt="").news_container-img
                span.news_container-span KUNDALINI YOGA
                h2.news_container-description Yoga for a Total Mind-Body
                span.news_container-title Marianna Sterfenson
                p.news_container-text.
                    From the very outset yoga traditions have close
                    the experience of our rational and sensible wor
                    the extraordinary and supernatural.
        .news_container
            .news_container-item
                a(href="#").news_container-image
                    img(src="http://lorempixel.com/400/200/animals" alt="").news_container-img
                    .img-hover
                        ul.img-list
                            li.img-item
                                span.img-number 45
                                span.img-text Minutes
                            li.img-item
                                span.img-number 1 &middot; 2
                                span.img-text Levels
                            li.img-item
                                span.img-number 245
                                span.img-text Students
                            li.img-item
                                span.img-number 200
                                span.img-text Karma
                        button.img-button Watch this class
                    .hurts
                        ul.hurts-list
                            li.hurts-item
                                +icon('hurt')
                            li.hurts-item
                                +icon('hurt')
                            li.hurts-item
                                +icon('hurt')
                            li.hurts-item
                                +icon('hurt')
                            li.hurts-item
                                +icon('shape')
                        span.hurts-span 34 Reviews
                    .news_container-small
                        img(src="http://lorempixel.com/400/200/people" alt="").news_container-img
                span.news_container-span KUNDALINI YOGA
                h2.news_container-description Yoga for a Total Mind-Body
                span.news_container-title Marianna Sterfenson
                p.news_container-text.
                    From the very outset yoga traditions have close
                    the experience of our rational and sensible wor
                    the extraordinary and supernatural.
            .news_container-item
                a(href="#").news_container-image
                    img(src="http://lorempixel.com/400/200/animals" alt="").news_container-img
                    .img-hover
                        ul.img-list
                            li.img-item
                                span.img-number 45
                                span.img-text Minutes
                            li.img-item
                                span.img-number 1 &middot; 2
                                span.img-text Levels
                            li.img-item
                                span.img-number 245
                                span.img-text Students
                            li.img-item
                                span.img-number 200
                                span.img-text Karma
                        button.img-button Watch this class
                    .hurts
                        ul.hurts-list
                            li.hurts-item
                                +icon('hurt')
                            li.hurts-item
                                +icon('hurt')
                            li.hurts-item
                                +icon('hurt')
                            li.hurts-item
                                +icon('hurt')
                            li.hurts-item
                                +icon('shape')
                        span.hurts-span 34 Reviews
                    .news_container-small
                        img(src="http://lorempixel.com/400/200/people" alt="").news_container-img
                span.news_container-span KUNDALINI YOGA
                h2.news_container-description Yoga for a Total Mind-Body
                span.news_container-title Marianna Sterfenson
                p.news_container-text.
                    From the very outset yoga traditions have close
                    the experience of our rational and sensible wor
                    the extraordinary and supernatural.
            .news_container-item
                a(href="#").news_container-image
                    img(src="http://lorempixel.com/400/200/animals" alt="").news_container-img
                    .img-hover
                        ul.img-list
                            li.img-item
                                span.img-number 45
                                span.img-text Minutes
                            li.img-item
                                span.img-number 1 &middot; 2
                                span.img-text Levels
                            li.img-item
                                span.img-number 245
                                span.img-text Students
                            li.img-item
                                span.img-number 200
                                span.img-text Karma
                        button.img-button Watch this class
                    .hurts
                        ul.hurts-list
                            li.hurts-item
                                +icon('hurt')
                            li.hurts-item
                                +icon('hurt')
                            li.hurts-item
                                +icon('hurt')
                            li.hurts-item
                                +icon('hurt')
                            li.hurts-item
                                +icon('shape')
                        span.hurts-span 34 Reviews
                    .news_container-small
                        img(src="http://lorempixel.com/400/200/people" alt="").news_container-img
                span.news_container-span KUNDALINI YOGA
                h2.news_container-description Yoga for a Total Mind-Body
                span.news_container-title Marianna Sterfenson
                p.news_container-text.
                    From the very outset yoga traditions .news_container-img
                    the experience of our rational and sensible wor
                    the extraordinary and supernatural.
        .news_more
            a(href="#").news_more-link more
            +icon('refresh')
            a(href="#").news_more-link yoga
    include ../common/footer


