footer.footer
    .footer_navigation
        .footer_menu
            .footer_nav
                h3.footer_description About
                ul.footer_list
                    li.footer_item
                        a(href="#").footer_link Company
                    li.footer_item
                        a(href="#").footer_link Help & Support
                    li.footer_item
                        a(href="#").footer_link Contacts
                    li.footer_item
                        a(href="#").footer_link Terms & Privacy
                    li.footer_item
                        a(href="#").footer_link Shop
            .footer_nav
                h3.footer_description Community
                ul.footer_list
                    li.footer_item
                        a(href="#").footer_link Blog
                    li.footer_item
                        a(href="#").footer_link Meetups
                    li.footer_item
                        a(href="#").footer_link Newsletter
                    li.footer_item
                        a(href="#").footer_link Testimonials
                    li.footer_item
                        a(href="#").footer_link Handbook
            .footer_nav
                h3.footer_description Yoga Anywhere
                ul.footer_list
                    li.footer_item
                        a(href="#").footer_link Find Classes
                    li.footer_item
                        a(href="#").footer_link Want to teach?
                    li.footer_item
                        a(href="#").footer_link Teams
                    li.footer_item
                        a(href="#").footer_link Advertise
                    li.footer_item
                        a(href="#").footer_link API
        p.footer_copyright Namaste &copy; 2015 108 LLC. Handmade in Miami. USA.
    .footer_download
        h3.footer_description Download our free ebook
        .footer_information
            img(src="http://lorempixel.com/400/200/people" alt="").footer_img
            .footer_text.
                From the very outset yoga traditions have close
                the experience of our rational and sensible wor
                the extraordinary and supernatural.
        p.footer_time 100.234 hours of lives saved
