html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "AvenirNextLTPro", sans-serif;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;

  @media screen and (max-width: 1024px){
    display: block;
  }

}

.clearfix {

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

